/*

21252b темно синий фон
56b6c2 light blue
e06c75 красный
e2c08d желтый
73c990 зеленый

Семантические теги в HTML5 и CSS3
section, article, header, footer
nav, aside, hgroup
time, figure, video, audio, canvas

background: linear-gradient(45deg, #e2c08d, #e06c75);

<abbr title="(: шутки :)">штуки</abbr>
*/

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

html, body {
  background-color: #fff;
  color: #e2c08d;
  font-size: 14px;
  font-family: Menlo, Consolas, DejaVu Sans Mono, monospace;
  margin: 0;
  height: 100vh;
  display: block;
  /* overflow: hidden; */
  /* --bw1: 20.3%;
  --bw2: calc(var(--bw1) + 13%);
  --bw3: calc(var(--bw2) + 13%); */
}

.wrapper {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #21252b;
}

.spacer {
  margin: auto;
  padding: 10px 0 10px;
  /* border: 1px solid red; */
  width: 210px;
}

table {
  margin: auto;
  padding: 0;
  border-spacing: 0;
}

/* white */

.white {
  border: 1px solid #fff;
  margin: 0;
}

.white-b1 {
  border: 1px solid #fff;
  background: #fff;
  color: #21252b;
  padding: 0 5px 0;
}

.white-b2 {
  border: 0px solid #fff;
  padding: 0 5px 0;
}

/* yellow */

.yellow {
  /* border: 1px solid #fff; */
  margin: 0;
}

.yellow-b1 {
  border: 1px solid #e2c08d;
  background: #e2c08d;
  color: #21252b;
  padding: 0 5px 0;
}

.yellow-b2 {
  border: 1px solid #e2c08d;
  padding: 0 5px 0;
}

/* blueblue */

.blue {
  /* border: 1px solid #e06c75; */
  margin: 0;
}

.blue-b1 {
  border: 1px solid #56b6c2;
  background: #56b6c2;
  color: #21252b;
  padding: 0 5px 0;
}

.blue-b2 {
  border: 1px solid #56b6c2;
  padding: 0 5px 0;
}

/* green */

.green {
  /* border: 1px solid #fff; */
  margin: 0;
}

.green-b1 {
  border: 1px solid #73c990;
  background: #73c990;
  color: #21252b;
  padding: 0 5px 0;
}

.green-b2 {
  border: 1px solid #73c990;
  padding: 0 5px 0;
}

/* red */

.red {
  /* border: 1px solid #e06c75; */
  margin: 0;
}

.red-b1 {
  border: 1px solid #e06c75;
  background: #e06c75;
  color: #21252b;
  padding: 0 5px 0;
}

.red-b2 {
  border: 1px solid #e06c75;
  padding: 0 5px 0;
}
